<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Board1</key>
	<dict>
		<key>22</key>
		<string>mana</string>
		<key>14</key>
		<string>mana</string>
		<key>34</key>
		<string>mana</string>
		<key>16</key>
		<string>mana</string>
		<key>36</key>
		<string>mana</string>
		<key>28</key>
		<string>mana</string>
		<key>25</key>
		<string>double mana</string>
	</dict>
</dict>
</plist>
