<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Soldier</key>
	<dict>
		<key>cost</key>
		<integer>1</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>A. Soldier</key>
	<dict>
		<key>cost</key>
		<integer>2</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>20</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>S. Soldier</key>
	<dict>
		<key>cost</key>
		<integer>2</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>20</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Scout</key>
	<dict>
		<key>cost</key>
		<integer>1</integer>
		<key>moveRadius</key>
		<integer>3</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Wizard</key>
	<dict>
		<key>cost</key>
		<integer>3</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>2</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Priest</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Heal 2</string>
		</array>
		<key>cost</key>
		<integer>3</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>30</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Grunt</key>
	<dict>
		<key>cost</key>
		<integer>3</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>20</integer>
		<key>hp</key>
		<integer>20</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>A. Grunt</key>
	<dict>
		<key>cost</key>
		<integer>4</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>20</integer>
		<key>hp</key>
		<integer>40</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>S. A. Grunt</key>
	<dict>
		<key>cost</key>
		<integer>5</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>30</integer>
		<key>hp</key>
		<integer>40</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Enchanter</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Buff</string>
		</array>
		<key>cost</key>
		<integer>5</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>30</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Lord</key>
	<dict>
		<key>cost</key>
		<integer>6</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>40</integer>
		<key>hp</key>
		<integer>60</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Fireblast</key>
	<dict>
		<key>effects</key>
		<array>
			<string>Fireblast</string>
		</array>
		<key>cost</key>
		<integer>3</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Lightning Bolt</key>
	<dict>
		<key>effects</key>
		<array>
			<string>Lightning 3</string>
		</array>
		<key>cost</key>
		<integer>2</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Bolster</key>
	<dict>
		<key>effects</key>
		<array>
			<string>Defense</string>
		</array>
		<key>cost</key>
		<integer>1</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Heal</key>
	<dict>
		<key>effects</key>
		<array>
			<string>Heal 2</string>
		</array>
		<key>cost</key>
		<integer>1</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Healing Winds</key>
	<dict>
		<key>effects</key>
		<array>
			<string>HealAll</string>
		</array>
		<key>cost</key>
		<integer>3</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Cub</key>
	<dict>
		<key>cost</key>
		<integer>1</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Fast Ice Cub</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Freeze</string>
		</array>
		<key>cost</key>
		<integer>1</integer>
		<key>moveRadius</key>
		<integer>3</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>A. Cub</key>
	<dict>
		<key>cost</key>
		<integer>2</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>20</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>A. Ice Cub</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Freeze</string>
		</array>
		<key>cost</key>
		<integer>2</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>20</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Scary Cub</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Debuff</string>
		</array>
		<key>cost</key>
		<integer>3</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Snow Thrower</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Frost</string>
			<string>LastStrike</string>
		</array>
		<key>cost</key>
		<integer>3</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>2</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>10</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Yeti</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Defender</string>
			<string>LastStrike</string>
		</array>
		<key>cost</key>
		<integer>4</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>40</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Shaman</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>LongHeal 2</string>
		</array>
		<key>cost</key>
		<integer>5</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>40</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Tough Yeti</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>LastStrike</string>
		</array>
		<key>cost</key>
		<integer>5</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>30</integer>
		<key>hp</key>
		<integer>40</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Whipmaster</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Strengthen</string>
		</array>
		<key>cost</key>
		<integer>5</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>10</integer>
		<key>hp</key>
		<integer>30</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Daddy</key>
	<dict>
		<key>cost</key>
		<integer>6</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>60</integer>
		<key>hp</key>
		<integer>60</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Ice Thrower</key>
	<dict>
		<key>abilities</key>
		<array>
			<string>Frost</string>
		</array>
		<key>cost</key>
		<integer>6</integer>
		<key>moveRadius</key>
		<integer>2</integer>
		<key>attackRadius</key>
		<integer>3</integer>
		<key>ap</key>
		<integer>20</integer>
		<key>hp</key>
		<integer>60</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Momma</key>
	<dict>
		<key>cost</key>
		<integer>7</integer>
		<key>moveRadius</key>
		<integer>3</integer>
		<key>attackRadius</key>
		<integer>1</integer>
		<key>ap</key>
		<integer>60</integer>
		<key>hp</key>
		<integer>80</integer>
		<key>type</key>
		<string>unit</string>
	</dict>
	<key>Ice Patch</key>
	<dict>
		<key>effects</key>
		<array>
			<string>IcePatch</string>
		</array>
		<key>cost</key>
		<integer>1</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Blizzard</key>
	<dict>
		<key>effects</key>
		<array>
			<string>Blizzard</string>
		</array>
		<key>cost</key>
		<integer>1</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Ice Age</key>
	<dict>
		<key>effects</key>
		<array>
			<string>IceAge</string>
		</array>
		<key>cost</key>
		<integer>3</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
	<key>Ice Ball</key>
	<dict>
		<key>effects</key>
		<array>
			<string>Ice 2</string>
		</array>
		<key>cost</key>
		<integer>2</integer>
		<key>type</key>
		<string>spell</string>
	</dict>
</dict>
</plist>
